:root {
    --primary-color: #1c4a98;
    --second-color: rgba(255, 255, 255, 0.900);
    --terc-color: #0b1622;
    --quart-color: #0d234b;
    --quint-color: black;
    --sext-color: white;
    --set-color: #00b6ad7a;
    --octa-color:rgba(0,0,0,0.75);
    --nine-color:yellow;
    --dec-color: #0d234ba8;
}


/*variaveis de cores*/